.DS_Store
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
.idea*
.env
c3.php
codeception.yml
!vendor/
vendor/*
!vendor/autoload.php
!vendor/composer
vendor/composer/installed.json
vendor/composer/*/
composer.lock
.log
local
wp-content

